{
	email {$ACME_EMAIL}
}

{$BASE_DOMAIN}, *.{$BASE_DOMAIN} {
	tls {
		dns googleclouddns {
			gcp_project {$GCP_PROJECT}
		}
	}

	@ws {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @ws gateway:3001
	reverse_proxy gateway:3000
}
